
すべてのトピック
概論
UE4
meetﾎｰﾑﾙｰﾑ
プログラミング言語
Excel
時間割
プログラミング言語
資料
平良英祐 さんが新しい資料を投稿しました: 【Gitとは】
投稿日: 2022/12/12

【Gitとは】
Google スライド

gitignoreの中身(VisualStudio版).txt
テキスト

資料
平良英祐 さんが新しい資料を投稿しました: 15_ファイルの入出力とファイル分割
投稿日: 2022/11/14

プログラミング言語1 15-1
Google スライド

プログラミング言語1 15-2
Google スライド

プログラミング言語1 15-3
Google スライド

プログラミング言語1 15-4
Google スライド

資料
平良英祐 さんが新しい資料を投稿しました: 14_構造体
投稿日: 2022/11/07

プログラミング言語1 14-2
Google スライド

プログラミング言語1 14-1
Google スライド

プログラミング言語1 14-3
Google スライド

プログラミング言語1 14-4
Google スライド

課題
平良英祐 さんが新しい課題を投稿しました: ポインタ確認テスト
投稿日: 2022/11/02
割り当て済み
以下のフォームからテストを受けてください。

Google Forms: Sign-in
https://forms.gle/PggBG312KeEUVg5a7

資料
平良英祐 さんが新しい資料を投稿しました: 12_ポインタ
投稿日: 2022/10/31 （最終編集: 2022/10/31）

プログラミング言語1 12-01
Google スライド

プログラミング言語1 12-02
Google スライド

プログラミング言語1 12-4
Google スライド

program01.png
画像

プログラミング言語1 12-3
Google スライド

資料
平良英祐 さんが新しい資料を投稿しました: 13_関数
投稿日: 2022/10/11 （最終編集: 2022/10/17）

プログラミング言語1 13-1
Google スライド

プログラミング言語1 13-2
Google スライド

プログラミング言語1 13-3
Google スライド

プログラミング言語1 13-5
Google スライド

program1.pdf
PDF

program2.png
画像

資料
平良英祐 さんが新しい資料を投稿しました: 10_定数
投稿日: 2022/10/06

プログラミング言語1 10-1
Google スライド

program1.pdf
PDF

program2.pdf
PDF

program3.pdf
PDF

資料
平良英祐 さんが新しい資料を投稿しました: 09_ビット演算
投稿日: 2022/10/05

プログラミング言語1 9
Google スライド

資料
平良英祐 さんが新しい資料を投稿しました: 夏休み明け課題記述例
投稿日: 2022/10/05

夏休み明け課題（平良）.zip
圧縮アーカイブ

完了 課題
平良英祐 さんが新しい課題を投稿しました: 夏休み明け課題
期限: 2022/09/16 17:00
投稿日: 2022/08/30
提出済み
資料を読んで、内容を確認してください。

プログラミング言語1 R4第1回課題
Google スライド

Kadai01.zip
圧縮アーカイブ

資料
平良英祐 さんが新しい資料を投稿しました: 08_文字列の配列
投稿日: 2022/06/09

プログラミング言語1 8-2
Google スライド

プログラミング言語1 8-1
Google スライド

プログラミング言語1 8-3
Google スライド

資料
平良英祐 さんが新しい資料を投稿しました: 07_配列, 多重配列
投稿日: 2022/06/03

プログラミング言語1 7-1
Google スライド

プログラミング言語1 7-2
Google スライド

プログラミング言語1 7-3
Google スライド

完了 課題
平良英祐 さんが新しい課題を投稿しました: C言語課題
期限: 2022/05/27 12:20
投稿日: 2022/05/27
提出済み
問１～問３までの問題を読んで、プログラムを書いて実行してください。
授業中に出来たところまでで良いので、.cppファイルを提出して下さい。

問題に対して質問があれば、限定公開コメントに書いて下さい。

C言語課題
Google スライド

資料
平良英祐 さんが新しい資料を投稿しました: 06_for文,while文
投稿日: 2022/05/23

プログラミング言語1 6-1
Google スライド

プログラミング言語1 6-2
Google スライド

プログラミング言語1 6-3
Google スライド

プログラミング言語1 6-4
Google スライド

完了 課題
平良英祐 さんが新しい課題を投稿しました: 練習問題：サイコロを作ってみよう
投稿日: 2022/05/25
提出済み
.cppファイルの提出をお願いします。

資料
平良英祐 さんが新しい資料を投稿しました: 05_switch文
投稿日: 2022/05/23

プログラミング言語1 5-1
Google スライド

資料
平良英祐 さんが新しい資料を投稿しました: 04_if文
投稿日: 2022/05/17

プログラミング言語1 4-1
Google スライド

プログラミング言語1 4-2
Google スライド

プログラミング言語1 4-3
Google スライド

プログラミング言語1 4-4
Google スライド

完了 課題
平良英祐 さんが新しい課題を投稿しました: 第1回豆テスト
投稿日: 2022/05/09
提出済み

C言語に関する記述を〇✕で答えよ
Google フォーム

資料
平良英祐 さんが新しい資料を投稿しました: 03_演算子
投稿日: 2022/05/09

プログラミング言語1 3-2
Google スライド

プログラミング言語1 3-1
Google スライド

プログラミング言語1 3-3
Google スライド

完了 課題
平良英祐 さんが新しい課題を投稿しました: 変数練習問題
投稿日: 2022/04/25
提出済み
.cppファイルを提出して下さい。

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Mono auto generated files
mono_crash.*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# Visual Studio 2017 auto generated files
Generated\ Files/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Benchmark Results
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Trace Files
*.e2e

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# AxoCover is a Code Coverage Tool
.axoCover/*
!.axoCover/settings.json

# Coverlet is a free, cross platform Code Coverage Tool
coverage*.json
coverage*.xml
coverage*.info

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Including strong name files can present a security risk
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Since there are multiple workflows, uncomment next line to ignore bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak

# SQL Server files
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
*.vbw

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# CodeRush personal settings
.cr/personal

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Uncomment if you are using it
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Telerik's JustMock configuration file
*.jmconfig

# BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# OpenCover UI analysis results
OpenCover/

# Azure Stream Analytics local run output
ASALocalRun/

# MSBuild Binary and Structured Log
*.binlog

# NVidia Nsight GPU debugger configuration file
*.nvuser

# MFractors (Xamarin productivity tool) working folder
.mfractor/

# Local History for Visual Studio
.localhistory/

# BeatPulse healthcheck temp database
healthchecksdb

# Backup folder for Package Reference Convert tool in Visual Studio 2017
MigrationBackup/

# Ionide (cross platform F# VS Code tools) working folder
.ionide/

# Fody - auto-generated XML schema
FodyWeavers.xsd